BACKEND_PORT="" 				# Provide a value for BACKEND_PORT
NODE_ENV="" 				# Provide a value for NODE_ENV
DATABASE_URL="" 				# Provide a value for DATABASE_URL
BETTER_AUTH_SECRET="" 				# Provide a value for BETTER_AUTH_SECRET
BETTER_AUTH_URL="" 				# Provide a value for BETTER_AUTH_URL

NEXT_PUBLIC_BACKEND_PORT="" 				# Provide a value for NEXT_PUBLIC_BACKEND_PORT
NEXT_PUBLIC_API_URL="" 				# Provide a value for NEXT_PUBLIC_API_URL

GITHUB_CLIENT_ID="" 				# Provide a value for GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET="" 				# Provide a value for GITHUB_CLIENT_SECRET

GITHUB_APPS_CLIENT_ID="" 				# Provide a value for GITHUB_APPS_CLIENT_ID
GITHUB_APPS_CLIENT_SECRET="" 				# Provide a value for GITHUB_APPS_CLIENT_SECRET
GITHUB_APPS_APP_ID="" 				# Provide a value for GITHUB_APPS_APP_ID

AWS_ACCESS_KEY_ID="" 				# Provide a value for AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY="" 				# Provide a value for AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET_NAME="" 				# Provide a value for AWS_S3_BUCKET_NAME
AWS_S3_REGION="" 				# Provide a value for AWS_S3_REGION

REDIS_URL="" 				# Provide a value for REDIS_URL